@charset 'utf-8';
html,body{background: #f3f3f3; cursor: default; color: #333;height: 100%; overflow: hidden;}
i{font-style: normal;}
img{max-width: 100%}
@media screen and (max-width: 319px) {
  html {
    font-size: 17.0667px; 
  } 
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 17.0667px; 
  } 
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 19.2px; 
  } 
}
/*
  http://www.css88.com/book/css/
  弹性布局===================
*/
.l-flex-h,
.l-flex-hc,
.l-flex-hvc,
.l-flex-v,
.l-flex-vc,
.l-flex-vhc,
.l-flex-wrap { /*应用于父元素 */
  display: -webkit-box;display: -ms-flexbox;display: flex;
}
/*
  flex-flow: <' flex-direction '> || <' flex-wrap '>
  flex-direction: row | row-reverse | column | column-reverse
  flex-wrap: nowrap | wrap | wrap-reverse
*/
.l-flex-h,
.l-flex-hc,
.l-flex-hvc { /*水平排列*/
  -ms-flex-flow: row nowrap;flex-flow: row nowrap;
}
.l-flex-v,
.l-flex-vc,
.l-flex-vhc { /*垂直排列*/
  -ms-flex-flow: column nowrap;flex-flow: column nowrap;
}
/*
  justify-content: flex-start | flex-end | center | space-between | space-around 用于不换行的弹性盒模型容器
  align-items: flex-start | flex-end | center | baseline | stretch 用于不换行的弹性盒模型容器
*/
.l-flex-h { /*子元素高度相同*/
  -webkit-box-align: strecth;-ms-flex-align: strecth;align-items: strecth;
}
.l-flex-hc,
.l-flex-hvc { /*水平排列的垂直居中*/
  -webkit-box-align: center;-ms-flex-align: center;align-items: center;
}
.l-flex-hvc { /*水平排列的水平居中*/
  -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; 
}
.l-flex-vc,
.l-flex-vhc{ /*垂直排列的垂直居中*/
  -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
}
.l-flex-vhc { /*垂直排列的水平居中*/
  -webkit-box-align: center;-ms-flex-align: center;align-items: center;
}
/*
  align-content: flex-start | flex-end | center | space-between | space-around | stretch 用于换行的弹性盒模型容器
*/
.l-flex-wrap { /*水平排列-换行*/
  -ms-flex-flow: row wrap;flex-flow: row wrap;
}
/*
  设置子项
  flex: none | <' flex-grow '> <' flex-shrink >'? || <' flex-basis '>
  flex-grow: <number> 剩余空间扩展比例
  flex-shrink: <number>  不足空间收缩比例
  flex-basis: <length> | <percentage> | auto | content   // 基准值
  align-self: auto | flex-start | flex-end | center | baseline | stretch
*/
[class*='l-flex-'] > .l-rest { /*如果只有设置其中一个子项，其将霸占剩余部分*/
  -webkit-box-flex: 1;-ms-flex: 1;flex: 1;
}
/*弹性布局===================end*/
.l-text-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.l-text-clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 2.8em;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.l-toptip {
  position: fixed;
  top: 0;
  text-align: center;
  color: #fff;
  z-index: 2000;
  background-color: #e64340;
  padding: 0.5rem;
  right: 0;
  left:0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.l-toptip.l-show{
  -webkit-transform: translateY(0); 
  transform: translateY(0); 
}
.l-toptip.l-error{
  background-color: #e64340;
}
.l-toptip.l-warn{
  background-color: #e96900; 
}

@font-face {
  font-family: 'l-iconfont';  /* project id 207792 */
  src: url('//at.alicdn.com/t/font_8z0uqjnsm7ca0pb9.eot');
  src: url('//at.alicdn.com/t/font_8z0uqjnsm7ca0pb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_8z0uqjnsm7ca0pb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_8z0uqjnsm7ca0pb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_8z0uqjnsm7ca0pb9.svg#l-iconfont') format('svg');
}
.l-icon{
  font-family: 'l-iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
}
[class*='l-icon-fill']{
  font-family: 'l-iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background-color: #0894ec;
}
.l-icon-fill-wx{background-color: #24b70f;}

/* vue style */
[v-cloak]{display: none;}
.fade-transition{
  opacity:1;
  transition: opacity .3s ease-in;
}
.fade-enter,.fade-leave{opacity:0;}
.bounce-transition {
  // display: inherit; /* 否则 scale 动画不起作用 */
}
.bounce-enter {
  animation: bounce-in .5s;
}
.bounce-leave {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

/* ios标准字体：黑体简 34px 28px 20px */
.l-fs-l{font-size: 1rem}
.l-fs{font-size: 0.85rem}
.l-fs-s{font-size: 0.7rem}
.l-fs-sm{font-size: 0.5rem}
.l-text-gray{color: #999 !important;}
.l-text-warn{color: #ff9100 !important;}
.l-text-ok{color: #66c214 !important;}
.l-text-error{color: #ff2828 !important;}
.l-text-right{text-align: right;}
.l-border{border: 1px solid rgba(255, 255, 255, 0.5);}
.l-border-t, .l-border-b, .l-border-l, .l-border-r{ position: relative; }
.l-border-t:before, .l-border-b:after,
.l-border-l:before, .l-border-r:after{
  content: " "; position: absolute; background-color: #d7d7d7; /* border: 1px solid #d7d7d7;  */
  transform: scale(0.5); transform-origin: 0 0; box-sizing: border-box;
}
.l-border-t:before, .l-border-b:after{width: 200%; height: 1px;}
.l-border-t:before{ left: 0; top: 0; }
.l-border-b:after{ left: 0; bottom: -1px; }
.l-border-l:before, .l-border-r:after{width: 1px; height: 200%;}
.l-border-l:before{ top:0; left: 0; }
.l-border-r:after{ top:0; right: -1px; }

.button.l-btn-m{border-radius: 0; height: 1.5rem;line-height: 1.5rem;}
.button.l-btn{border-radius: 0; height: 2rem;line-height: 2rem; font-size: 0.85rem;}
.button.l-btn-gray{background-color:#ebebeb; color: inherit;}
.button.l-btn-gray:active{background-color: #ddd;}
.l-avatar{
  box-sizing: border-box;border-radius: 50%;border:1px solid #dbdbdb;
  width: 3.0rem;height: 3.0rem; display: inline-block;
  background: rgba(255, 255, 255, 0.6) no-repeat 50% 50%; 
  background-size: cover;
}
.l-bg-cover{
  background: no-repeat 50% 50%;
  background-size: cover; 
}
.l-layer{
  position: fixed; z-index:2000;
  left:0; top:0; width: 100%; height: 100%; box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5)
}
.l-mask{position: relative;z-index: 0;}
.l-mask:before{
  content: '';
  position: absolute;top:0;left:0;right:0;bottom: 0; z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}
.l-close-radius{font-size: 2.0rem}
.l-layer .l-close-radius{color: #fff;opacity: 0.6;}
.l-layer .l-close-radius:active{opacity: 1;}
.l-padding{padding:0.75rem;}
.l-margin-0{margin:0;}
.l-margin-s{margin:0.375rem;}
.l-margin-sm{margin: 0.25rem;}
.l-margin{margin:0.75rem;}
.l-margin-tb{margin-top: 0.75rem;margin-bottom: 0.75rem;}
.l-margin-t{margin-top: 0.75rem;}
.l-margin-b{margin-bottom: 0.75rem;}
.l-margin-l{margin-left: 0.75rem;}
.l-margin-r{margin-right: 0.75rem;}
.l-margin-r-s{margin-right: 0.533333rem;}
.l-margin-r-sm{margin-right: 0.4rem;}
.l-center{text-align: center;}

table[class*='l-table']{width: 100%;}
table[class*='l-table'] th,
table[class*='l-table'] td{padding: 0.375rem;text-align: center;}
table[class*='l-table'] th{ font-weight: 400;}
table.l-table-border-t th,
table.l-table-border-t td{border-bottom: 1px solid #e7e7e7;}
table.l-text-table td{vertical-align: top;}
table.l-text-table td p{margin:0;}
div.l-table-td{padding: 0.125rem 0;}
div.l-table-td p{margin:0;}
div.l-table-tr.l-border-b{padding-bottom: 0.375rem; margin-bottom: 0.375rem;}

.l-panel-title{padding: 0.375rem 0.75rem;background-color: #fff;}
.l-panel-title h3{margin:0;font-weight: 400;font-size: 0.85rem;}
.l-panel-title~.list-block{margin-top:0;}
.l-panel-content{background-color: #fff;}
.l-panel-content p{margin:0;}

.l-card-1{border-radius: 5px;background-color: #fff;position: relative;padding: 0.75rem;}
.l-card-1:after{
  content: ' '; position: absolute; left: 0; bottom: 0px; box-sizing: border-box; width: 100%;
  height: 8px; background: radial-gradient(#efeff4 7px, transparent 0, transparent 0) repeat-x 2px 0;
  background-size: 18px 18px; overflow: hidden;
}
.l-card-hd{padding-bottom: 0.5rem; margin-bottom:0.5rem;}
.l-card-hd h3{margin: 0;font-weight: 400;}


.l-app-page, .page-group{
  height: 100%; position: relative;max-width: 750px;margin:auto; background-color: #f3f3f3;
}
.l-page-footer{
  position: absolute; right: 0; left: 0; z-index: 10; bottom: 0; width: 100%;
  height: 2rem; background-color: #f7f7f8;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.l-page-footer~.content{bottom: 2rem;}
.l-app-header{height: 1.173333rem;}
.l-app-footer{height: 1.306667rem;}

/*sui mobile 本地化样式*/
.l-bar-nav{background-color: #393a3e;color: #fff;}
.l-bar-nav.bar:after{background-color: #555;}
.l-bar-nav .title{color: #fff;}
.l-bar-nav .icon{color: #fff; font-size: inherit;}
.l-bar-tab{background-color: #193f7c;color: #fff;}
.l-bar-tab .tab-item{color: #fff;}
.l-bar-tab .tab-item.active{background-color: #143263;color: #fff;}
.list-block{margin:0.6rem 0;}
.content-block{margin:0.75rem 0;}
.list-block .item-title.label{width: 30%;}
.swiper-container{padding-bottom: 0;}
.l-toast{ border-radius: 5px; padding: 0.75rem; height: auto; line-height: 1.4; font-size: 0.75rem;}
.modal-inner,.modal-button{background-color: #fff;}
.modal-inner:after,.modal-button:after{background-color: #d7d7d7}
.modal-title{color: #000;}
.modal-title~.modal-text{color: #666;font-size: 0.75rem;}
/*个人中心*/
.l-panel-user{position:relative; z-index:0; height: 9.0rem; padding-top: 0.75rem;margin-top: -0.75rem;}
.l-panel-user:before{
  content: ''; position: absolute; left:0; top:0; width:100%; height: 100%;
  background-color: rgba(0,0,0, 0.5);
}
.l-panel-user-bg{
  background: #666 no-repeat 50% 50%; background-size: cover;
  position: absolute; left:0; top:0; width:100%; height: 100%;
  z-index: -1; filter: blur(5px);
}
.l-panel-user-bar{
  position: relative; width:100%;height: 1.75rem;
  background-color: rgba(0,0,0,0.2);
}
.l-panel-user-bar.l-border-t:before{opacity: 0.3;}
.l-panel-user-bar .l-border-r:after{opacity: 0.3;}
.l-panel-user-bar > .l-rest{color: #fff; width: 50%; height: 100%; text-align: center; }
.l-panel-user-bar strong{color: #fd9502; font-weight: 400; }
.l-panel-user-avatar{position: relative;text-align: center; overflow: hidden; color: #fff; }
.l-panel-user-avatar .l-icon-qrcode{font-size: 1.2rem; color: rgba(255,255,255,0.6);
  position: absolute;top: 0.5rem;right: 0.75rem;}
.l-panel-user-avatar h3{margin:0.375rem 0 0 0;}
.l-panel-user-avatar p{margin:0;}
.l-list-block-user{background-color: #fff;}
.l-list-block-user .item-content:last-child .item-inner:after{visibility: hidden;}
.l-list-block-user .l-icon{font-size: 1rem;}
.l-panel-user-qrcode{background-color: #fff;border-radius: 5px;padding: 1.0rem;}
.l-panel-user-qrcode .l-qrcode{padding: 1.5rem;}
.l-panel-user-qrcode .l-qrcode img{width: 10.0rem;height: 10.0rem;}

/* 套餐 */
.l-taocan-item{border-radius: 5px;background-color: #fff;overflow: hidden;}
.l-taocan-hd{
  border-radius: 5px 5px 0 0; 
  background: linear-gradient(163deg, #f89432, #ef751c);
  color: #fff; position: relative; padding-bottom: 1.8rem; overflow: hidden;
}
.l-taocan-hd h3{margin: 0.5rem; }
.l-taocan-hd-bar{
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;left: 0;bottom: 0;width:100%;height: 1.8rem;
}
.l-taocan-hd-bar.l-border-t:before{opacity: 0.3;}
.l-taocan-hd-bar .l-border-r:after{opacity: 0.3;}
.l-taocan-ft{overflow: hidden;}
.l-taocan-name{
  background: linear-gradient(163deg, #f89432, #ef751c);
  color: #fff; position: relative; overflow: hidden;
}
.l-taocan-name h3{margin: 0.5rem; }
.l-taocan-record{}

/* 优惠券 */
.l-coupon{
  border-radius: 3px;overflow: hidden; color: #fff; position: relative;
  background: linear-gradient(143deg, #f8614d, #e0274a); margin: 0.75rem;
}
.l-coupon:before,
.l-coupon:after{content: ''; position: absolute; top: 0; bottom: 0; width: 10px;
  background: radial-gradient(#fff 10px, transparent 0, transparent 0) no-repeat;
  background-size: 20px 20px;
}
.l-coupon:before{left: 0; background-position: -10px 50%; }
.l-coupon:after{right:0; background-position: 0 50%; }
.l-coupon h4{margin:0;}
.l-coupon p{margin:0;line-height: 1.2;}
.l-coupon-value{
  min-width: 5.0rem; max-width: 50%;padding: 0.25rem; font-size: 1.6rem;
  border-right: 2px dotted rgba(255, 255, 255, 0.6);
}
.l-coupon-value i{font-size: 1rem;}
.l-coupon-desc{padding:0.5rem;position: relative;}
.l-coupon-tip{position: absolute;top: 0; right: 0.25rem; font-size: 1.1rem;}
.l-disabled{
  -webkit-filter:grayscale(100%);filter:grayscale(100%);
  opacity: 0.6;
}
/* 消费记录 */
.l-buy-total{
  background: linear-gradient(124deg, #f98856, #f3543f);
  color: #fff; position: relative; overflow: hidden;
  text-align: center; padding: 0.75rem 0;
}
.l-buy-total p{margin: 0; }
.l-buy-total h3{margin:0; font-size: 1.6rem; font-weight: 400;}
.l-buy-record{padding-bottom: 1.333333rem;}
.l-buy-details{
  padding: 0.75rem;
  background-color: #fff;
}
.l-buy-details .l-text-table{width: 100%;}
.l-buy-details .l-text-table td:first-child{width: 4.0rem;}
/* 分销记录 */
.l-agent-total{
  color:#fff; padding: 0.75rem;background: linear-gradient(140deg, #f63752, #f15f4f);
}
.l-agent-total h3{margin:0.25rem 0;font-weight: 400;}
.l-agent-total .button{color: #fff;border-color:#fff;margin-top: 0.5rem;}
.l-agent-total strong{font-weight: 400;font-size: 1.6rem;}
.l-agent-total p{margin:0;}
.l-agent-record{background-color: #fff;padding: 0.75rem;margin: 0.75rem 0;}
.not-agent .l-agent-total{height: 6.75rem;}
.not-agent p{margin:0;}
/* 门店列表 */
.l-store-item-bd{background-color: #fff;padding: 0.75rem; color: inherit;}
.l-store-item-bd .l-thumb{width: 3rem;height: 3rem; margin-right: 0.75rem;border-radius: 3px;}
.l-store-item-bd .l-flex-v{padding: 0.25rem 0;}
.l-store-item-bd h4{margin:0;font-weight: 400; font-size: 0.75rem;}
.l-store-item-bd p{margin:0; font-size: 0.6rem;}
.l-store-item-ft{height: 1.75rem;background-color: #fff;}
.l-store-item-ft>.l-rest{width: 50%; height: 100%; text-align: center;}
.l-store-item-ft>.l-rest:active{background-color: #f3f3f3;}

/* 我的商品 */
.l-user-good-bd{background-color: #fff;padding: 0.75rem; color: inherit;}
.l-user-good-bd .l-thumb{width: 3rem;height:3rem; margin-right: 0.75rem;border-radius: 3px;}
.l-user-good-bd h4{margin:0;font-weight: 400; font-size: 0.7rem;}
.l-user-good-bd p{margin:0; font-size: 0.7rem;}
.l-user-good-ft{background-color: #fff;padding: 0.375rem 0.75rem;}
/* 评价 */
.l-evaluate-content{padding: 0.75rem;background-color: #fff;}
.l-evaluate-content textarea{
  border:1px solid #d7d7d7;padding: 0.75rem; height: 4.0rem; width: 100%;
  box-sizing: border-box; resize:none;
}
.l-evaluate-score{margin-top: 0.375rem;}
.l-evaluate-score .l-icon{ font-size: 1rem; vertical-align: middle; margin-right: 5px;}
/* 动态 */
.l-panel-carinfo{height: 7.466667rem; color: #fff; overflow: hidden; }
.l-panel-carinfo h3,
.l-panel-carinfo p{font-weight: 400; margin:0; }
.l-panel-carinfo .l-thumb{width: 2.133333rem; height: 2.133333rem; border-radius: 50%; background-color: #fff; }
.l-panel-carinfo-item{border:1px solid rgba(255, 255, 255, 0.5); padding: 0.266667rem 0.4rem; }
.l-panel-carinfo-item img{margin-right: 0.4rem; width: 2.4rem; height: 1.866667rem; }
.l-panel-technician{ height: 7.466667rem; color: #fff; overflow: hidden; }
.l-technician-work{background-color: #fff;}
.l-technician-work .l-title{padding: 0.375rem 0;text-align: center;font-size: 1.0rem;}
.l-technician-work .l-title .l-img-icon{height: 1.25rem; vertical-align: -5px;}
.l-technician-work .list-block{margin-top:0}
.l-technician-suggest ul{margin-top:0;}
.l-technician-suggest ul li{padding: 0.75rem 0.75rem 0.75rem 0;color: #ff9100;}
.l-technician-suggest ul li p{margin:0; color: #333;}
.l-technician-suggest ul li:first-child:before{visibility: hidden;}
.l-check-result ul{margin-top:0;padding: 0; font-size: 0.85rem;}
.l-check-result h4{margin:0;}
.l-check-result p{margin:0;}
.l-check-result ul li{padding: 0.75rem;}
.l-check-result ul li:first-child:before{visibility: hidden;}
.l-check-result .l-img-list{margin-top: -0.25rem;}
.l-check-result .l-img-list img{margin: 0.375rem 0.375rem 0 0; width: 4.5rem;height: 3.5rem;}
.l-check-all .l-technician-work{background:#fff no-repeat 50% 0; background-size: 100%;}
.l-check-all .l-check-item-name{position: relative;padding-right: 1.0rem;}
.l-check-all .l-check-item-desc{display: none;}
.l-check-all .l-check-item-name:after{
  content: ''; width: 0.75rem;
  position: absolute; top:-1px; right:-0.25rem; bottom:0; 
  background: url('../images/arrow.png') no-repeat 100% center;
  background-size: 0.7rem;
}
.l-check-expand .l-check-item-name:after{
  -webkit-transform: rotate(90deg);transform: rotate(90deg);
}
.l-check-expand .l-check-item-desc{display: block;}

/* 登录 */
.l-login{height: 100%;text-align: center;color: #fff;}
.l-login .l-avatar{
  width: 4.0rem; height: 4.0rem; margin:2.0rem auto;
  border-color: rgba(255,255,255, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
}
.l-login-form{width: 17.5rem;margin:auto;}
.l-login-ipt{
  margin: 0.75rem; padding: 0.375rem;
  background-color: rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}
.l-login-ipt input{
  border:none;background:none;width: 100%;
  height: 1.5rem; line-height: 1.5rem;
}
.l-login-ipt .button{margin:-0.75rem -0.25rem -0.75rem 0;width: 5.25rem;}
.l-login-ipt .l-icon{color: #0894ec; font-size: 1rem;width: 1.5rem; }